---
---
<style>
  img {
    display: block;
    width: 75px;
  }
</style>

<a href="/">
  <img id="logo-theme" alt="what the zsh logo" src="public/assets/logo-colour.png" width="75" height="50">
</a>
